# Men's

In [1]:
import pandas as pd 
import seaborn as sbs
import matplotlib

In [2]:
df_men = pd.read_csv('clean_men_final.csv')

In [19]:
df_men

,Class Year,Height,Hometown,Name,Number,Position,Roster,School,Team,Weight (LBS)
0,SR,6'1,"MAHWAH, NJ",BRANDON ANDERSON,2.0,G,2019-20,DON BOSCO PREP,Men's Basketball,170
1,JR,6'5,"LOWELL, MA",TAMENANG CHOH,25.0,F,2019-20,BROOKS SCHOOL,Men's Basketball,210
2,FR,6'4,"CHICAGO, IL",PERRY COWAN,23.0,G,2019-20,DEPAUL COLLEGE PREP,Men's Basketball,200
3,JR,6'9,"BARRINGTON, RI",MATT DEWOLF,44.0,F,2019-20,NORTHFIELD MOUNT HERMON,Men's Basketball,230
4,FR,6'4,"DETROIT, MI",DAN FRIDAY,1.0,G,2019-20,UNIVERSITY OF DETROIT JESUIT,Men's Basketball,220
5,SR,6'6,"CHARLOTTE, NC",JOSHUA HOWARD,5.0,F,2019-20,PROVIDENCE DAY SCHOOL,Men's Basketball,205
6,SR,6'2,"NORTH SALT LAKE, UT",ZACH HUNSAKER,20.0,G,2019-20,OREM,Men's Basketball,185
7,FR,6'6,"BETHESDA, MD",CARSTEN KOGELNIK,3.0,F,2019-20,DEMATHA CATHOLIC,Men's Basketball,210
8,JR,6'3,"BURKE, VA",GEORGE MAWANDA-KALEMA,11.0,G,2019-20,EPISCOPAL,Men's Basketball,180
9,JR,6'5,"PROVIDENCE, RI",NOAH MEREN,NaN,G,2019-20,MOSES BROWN SCHOOL,Men's Basketball,200
10,JR,6'3,"HOUSTON, TX",JAKE SHAPER,15.0,G,2019-20,THE KINKAID SCHOOL,Men's Basketball,195
11,JR,6'1,"MAHWAH, NJ",BRANDON ANDERSON,2.0,G,2018-19,DON BOSCO PREP,Men's Basketball,170
12,SO,6'4,"NASHVILLE, TN",DESMOND CAMBRIDGE,24.0,G,2018-19,THE HUN SCHOOL (NJ),Men's Basketball,180
13,SO,6'5,"LOWELL, MA",TAMENANG CHOH,25.0,F,2018-19,BROOKS SCHOOL,Men's Basketball,210
14,SO,6'9,"BARRINGTON, RI",MATT DEWOLF,44.0,F,2018-19,NORTHFIELD MOUNT HERMON,Men's Basketball,230
15,SR,6'9,"ENCINITAS, CA",TRAVIS FULLER,1.0,F,2018-19,LA COSTA CANYON,Men's Basketball,225
16,JR,6'6,"CHARLOTTE, NC",JOSHUA HOWARD,5.0,F,2018-19,PROVIDENCE DAY SCHOOL,Men's Basketball,205
17,JR,6'2,"NORTH SALT LAKE, UT",ZACH HUNSAKER,20.0,G,2018-19,OREM,Men's Basketball,185
18,SO,6'3,"BURKE, VA",GEORGE MAWANDA-KALEMA,3.0,G,2018-19,EPISCOPAL,Men's Basketball,180
19,SR,6'5,"AJAX, ONTARIO",OBI OKOLIE,4.0,G,2018-19,ARCHBISHOP DENIS O'CONNOR,Men's Basketball,205
20,SO,6'3,"HOUSTON, TX",JAKE SHAPER,15.0,G,2018-19,THE KINKAID SCHOOL,Men's Basketball,195
21,SR,6'3,"WILMETTE, IL",CHRIS SULLIVAN,11.0,G,2018-19,NORTHFIELD MOUNT HERMON,Men's Basketball,180
22,SR,6'4,"COOPER CITY, FL",JASON MASSEY,0.0,G,2017-18,AMERICAN HERITAGE,Men's Basketball,220
23,JR,6'9,"ENCINITAS, CA",TRAVIS FULLER,1.0,F,2017-18,LA COSTA CANYON,Men's Basketball,225
24,SO,6'1,"MAHWAH, NJ",BRANDON ANDERSON,2.0,G,2017-18,DON BOSCO PREP,Men's Basketball,170
25,FR,6'3,"BURKE, VA",GEORGE MAWANDA-KALEMA,3.0,G,2017-18,EPISCOPAL,Men's Basketball,180
26,JR,6'5,"AJAX, ONTARIO",OBI OKOLIE,4.0,G,2017-18,ARCHBISHOP DENIS O'CONNOR,Men's Basketball,205
27,SO,6'6,"CHARLOTTE, NC",JOSHUA HOWARD,5.0,F,2017-18,PROVIDENCE DAY SCHOOL,Men's Basketball,205
28,SO,6'9,"SYKESVILLE, MD",DAVID EREBOR,10.0,F,2017-18,OUR LADY OF CARMEL SCHOOL,Men's Basketball,230
29,JR,6'3,"WILMETTE, IL",CHRIS SULLIVAN,11.0,G,2017-18,NORTHFIELD MOUNT HERMON,Men's Basketball,180
...,...,...,...,...,...,...,...,...,...,...
110,JR,6'3,"CROWN POINT, IN",STEPHEN ALBRECHT,15.0,G,2011-12,CROWN POINT,Men's Basketball,175
111,FR,6'5,"SANARU-ZARIA, NIGERIA",LONGI YILJEP,21.0,G,2011-12,WESTTOWN (PA),Men's Basketball,185
112,SO,6'1,"BROOKFIELD, IL",SEAN MCGONAGILL,22.0,G,2011-12,RIVERSIDE-BROOKFIELD,Men's Basketball,180
113,JR,6'8,"SUDBURY, MA",ANDREW MCCARTHY,23.0,F,2011-12,NORTHFIELD MT. HERMON,Men's Basketball,210
114,JR,6'4,"HIGHLAND PARK, IL",TELLEF LUNDEVALL,25.0,F,2011-12,PHILLIPS ANDOVER ACADEMY,Men's Basketball,210
115,JR,6'8,"BROOKLINE, MA",TUCKER HALPERN,33.0,F,2011-12,NOBLE & GREENOUGH,Men's Basketball,220
116,FR,6'7,"BALTIMORE, MD",JON SCHMIDT,50.0,F,2011-12,FRIENDS SCHOOL,Men's Basketball,210
117,FR,6'9,"SANTA CRUZ, BRAZIL",RAFAEL MAIA,55.0,C,2011-12,MAINE CENTRAL INSTITUTE,Men's Basketball,230
118,SR,6'8,"PLYMOUTH, MN",CHRIS TAYLOR,1.0,F,2010-11,WAYZATA,Men's Basketball,225
119,FR,6'7,"DOVER, DE",DOCKERY WALKER,3.0,F,2010-11,WESTTOWN (PA),Men's Basketball,215
120,SO,6'8,"NORTHBROOK, IL",TYLER PONTICELLI,5.0,F,2010-11,GLENBROOK NORTH,Men's Basketball,220
121,SR,6'1,"ATLANTA, GA",ADRIAN WILLIAMS,11.0,G,2010-11,WHEELER,Men's Basketball,180
122,SO,6'5,"WILMETTE, IL",MATT SULLIVAN,14.0,G,2010-11,LOYOLA ACADEMY,Men's Basketball,205
123,SO,6'3,"CROWN POINT, IN",STEPHEN ALBRECHT,15.0,G,2010-11,CROWN POINT,Men's Basketball,175
124,FR,6'1,"BROOKFIELD, IL",SEAN MCGONAGILL,22.0,G,2010-11,RIVERSIDE-BROOKFIELD,Men's Basketball,180
125,SO,6'8,"SUDBURY, MA",ANDREW MCCARTHY,23.0,F,2010-11,NORTHFIELD MT. HERMON,Men's Basketball,210
126,SR,6'5,"WILMETTE, IL",PETER SULLIVAN,25.0,F,2010-11,LOYOLA ACADEMY,Men's Basketball,215
127,SR,6'4,"NAPERVILLE, IL",GARRETT LEFFELMAN,31.0,G,2010-11,ST. JOSEPH'S,Men's Basketball,210
128,SO,6'8,"BROOKLINE, MA",TUCKER HALPERN,33.0,F,2010-11,NOBLE & GREENOUGH,Men's Basketball,220
129,JR,6'8,"PLYMOUTH, MN",CHRIS TAYLOR,1.0,F,2009-2010,WAYZATA,Men's Basketball,225
130,FR,6'8,"NORTHBROOK, IL",TYLER PONTICELLI,5.0,F,2009-2010,GLENBROOK NORTH,Men's Basketball,215
131,SR,5'11,"MILWAUKEE, WI",STEVE GRUBER,10.0,G,2009-2010,WHITEFISH BAY,Men's Basketball,170
132,JR,6'1,"ATLANTA, GA",ADRIAN WILLIAMS,11.0,G,2009-2010,WHEELER,Men's Basketball,180
133,FR,6'6,"WILLMETTE, IL",MATT SULLIVAN,14.0,G,2009-2010,LOYOLA ACADEMY,Men's Basketball,205
134,SO,6'3,"GLENDALE, AZ",MARQUES COLEMAN,22.0,G,2009-2010,CACTUS,Men's Basketball,185
135,JR,6'5,"WILMETTE, IL",PETER SULLIVAN,25.0,F,2009-2010,LOYOLA ACADEMY,Men's Basketball,215
136,JR,6'4,"NAPERVILLE, IL",GARRETT LEFFELMAN,31.0,G,2009-2010,ST. JOSEPH'S,Men's Basketball,210
137,FR,6'8,"BROOKLINE, MA",TUCKER HALPERN,33.0,F,2009-2010,NOBLE & GREENOUGH,Men's Basketball,215
138,FR,6'8,"SUDBURY, MA",ANDREW MCCARTHY,35.0,F,2009-2010,NORTHFIELD MT. HERMON,Men's Basketball,205
139,SR,6'8,"MILLSTONE, NJ",MATT MULLERY,45.0,F,2009-2010,ST. JOHN VIANNEY,Men's Basketball,235

Team counts

In [5]:
df_men['Roster'].value_counts()

2015-16      16
2016-17      15
2017-18      14
2011-12      14
2014-15      14
2013-14      13
2019-20      11
2009-2010    11
2010-11      11
2018-19      11
2012-13      10
Name: Roster, dtype: int64

Are teams more underclassmen or upperclassmen heavy?

In [138]:
df_men.groupby(by='Roster')['Class Year'].value_counts(normalize=True)

Roster     Class Year
2009-2010  FR            0.363636
           JR            0.363636
           SR            0.181818
           SO            0.090909
2010-11    SO            0.454545
           SR            0.363636
           FR            0.181818
2011-12    JR            0.500000
           FR            0.357143
           SO            0.071429
           SR            0.071429
2012-13    SO            0.400000
           SR            0.300000
           JR            0.200000
           FR            0.100000
2013-14    JR            0.461538
           FR            0.384615
           SO            0.076923
           SR            0.076923
2014-15    FR            0.357143
           SR            0.357143
           SO            0.214286
           JR            0.071429
2015-16    JR            0.312500
           SO            0.312500
           FR            0.250000
           SR            0.125000
2016-17    FR            0.266667
           JR            0.266667
           SO            0.266667
           SR            0.200000
2017-18    FR            0.357143
           SO            0.285714
           JR            0.214286
           SR            0.142857
2018-19    SO            0.454545
           JR            0.272727
           SR            0.272727
2019-20    JR            0.454545
           FR            0.272727
           SR            0.272727
Name: Class Year, dtype: float64

Splitting dataframe into little dataframes based on the year in which people played

In [10]:
df1 = df_men[df_men['Roster']=='2009-2010']

In [29]:
df1

,Class Year,Height,Hometown,Name,Number,Position,Roster,School,Team,Weight (LBS)
129,JR,6'8,"PLYMOUTH, MN",CHRIS TAYLOR,1.0,F,2009-2010,WAYZATA,Men's Basketball,225
130,FR,6'8,"NORTHBROOK, IL",TYLER PONTICELLI,5.0,F,2009-2010,GLENBROOK NORTH,Men's Basketball,215
131,SR,5'11,"MILWAUKEE, WI",STEVE GRUBER,10.0,G,2009-2010,WHITEFISH BAY,Men's Basketball,170
132,JR,6'1,"ATLANTA, GA",ADRIAN WILLIAMS,11.0,G,2009-2010,WHEELER,Men's Basketball,180
133,FR,6'6,"WILLMETTE, IL",MATT SULLIVAN,14.0,G,2009-2010,LOYOLA ACADEMY,Men's Basketball,205
134,SO,6'3,"GLENDALE, AZ",MARQUES COLEMAN,22.0,G,2009-2010,CACTUS,Men's Basketball,185
135,JR,6'5,"WILMETTE, IL",PETER SULLIVAN,25.0,F,2009-2010,LOYOLA ACADEMY,Men's Basketball,215
136,JR,6'4,"NAPERVILLE, IL",GARRETT LEFFELMAN,31.0,G,2009-2010,ST. JOSEPH'S,Men's Basketball,210
137,FR,6'8,"BROOKLINE, MA",TUCKER HALPERN,33.0,F,2009-2010,NOBLE & GREENOUGH,Men's Basketball,215
138,FR,6'8,"SUDBURY, MA",ANDREW MCCARTHY,35.0,F,2009-2010,NORTHFIELD MT. HERMON,Men's Basketball,205
139,SR,6'8,"MILLSTONE, NJ",MATT MULLERY,45.0,F,2009-2010,ST. JOHN VIANNEY,Men's Basketball,235

In [14]:
df2 = df_men[df_men['Roster']=='2010-11']

In [30]:
df2

,Class Year,Height,Hometown,Name,Number,Position,Roster,School,Team,Weight (LBS)
118,SR,6'8,"PLYMOUTH, MN",CHRIS TAYLOR,1.0,F,2010-11,WAYZATA,Men's Basketball,225
119,FR,6'7,"DOVER, DE",DOCKERY WALKER,3.0,F,2010-11,WESTTOWN (PA),Men's Basketball,215
120,SO,6'8,"NORTHBROOK, IL",TYLER PONTICELLI,5.0,F,2010-11,GLENBROOK NORTH,Men's Basketball,220
121,SR,6'1,"ATLANTA, GA",ADRIAN WILLIAMS,11.0,G,2010-11,WHEELER,Men's Basketball,180
122,SO,6'5,"WILMETTE, IL",MATT SULLIVAN,14.0,G,2010-11,LOYOLA ACADEMY,Men's Basketball,205
123,SO,6'3,"CROWN POINT, IN",STEPHEN ALBRECHT,15.0,G,2010-11,CROWN POINT,Men's Basketball,175
124,FR,6'1,"BROOKFIELD, IL",SEAN MCGONAGILL,22.0,G,2010-11,RIVERSIDE-BROOKFIELD,Men's Basketball,180
125,SO,6'8,"SUDBURY, MA",ANDREW MCCARTHY,23.0,F,2010-11,NORTHFIELD MT. HERMON,Men's Basketball,210
126,SR,6'5,"WILMETTE, IL",PETER SULLIVAN,25.0,F,2010-11,LOYOLA ACADEMY,Men's Basketball,215
127,SR,6'4,"NAPERVILLE, IL",GARRETT LEFFELMAN,31.0,G,2010-11,ST. JOSEPH'S,Men's Basketball,210
128,SO,6'8,"BROOKLINE, MA",TUCKER HALPERN,33.0,F,2010-11,NOBLE & GREENOUGH,Men's Basketball,220

In [31]:
df1['Class Year'].value_counts()

FR    4
JR    4
SR    2
SO    1
Name: Class Year, dtype: int64

In [33]:
df2['Class Year'].value_counts()

SO    5
SR    4
FR    2
Name: Class Year, dtype: int64

In [38]:
df3 = df_men[df_men['Roster']=='2011-12']

In [40]:
df4 = df_men[df_men['Roster']=='2012-13']

In [41]:
df5 = df_men[df_men['Roster']=='2013-14']

In [42]:
df6 = df_men[df_men['Roster']=='2014-15']

In [43]:
df7 = df_men[df_men['Roster']=='2015-16']

In [44]:
df8 = df_men[df_men['Roster']=='2016-17']

In [45]:
df9 = df_men[df_men['Roster']=='2017-18']

In [46]:
df10 =  df_men[df_men['Roster']=='2018-19']

In [47]:
df11= df_men[df_men['Roster']=='2019-20']

Calculating the intersection of the roster this year with that of the next

In [73]:
df_inner_1 = pd.merge(df1['Name'], df2['Name'], how='inner')

In [74]:
df_inner_2 = pd.merge(df2['Name'], df3['Name'], how='inner')

In [75]:
df_inner_3 = pd.merge(df3['Name'], df4['Name'], how='inner')

In [76]:
df_inner_4 = pd.merge(df4['Name'], df5['Name'], how='inner')

In [77]:
df_inner_5 = pd.merge(df5['Name'], df6['Name'], how='inner')

In [78]:
df_inner_6 = pd.merge(df6['Name'], df7['Name'], how='inner')

In [79]:
df_inner_7 = pd.merge(df7['Name'], df8['Name'], how='inner')

In [80]:
df_inner_8 = pd.merge(df8['Name'], df9['Name'], how='inner')

In [81]:
df_inner_9 = pd.merge(df9['Name'], df10['Name'], how='inner')

In [82]:
df_inner_10 = pd.merge(df10['Name'], df11['Name'], how='inner')

Contrasting the number of non-senior players with the players who went on to play the next year

In [83]:
len(df1[df1['Class Year'] != 'SR'])

9

2009-10/ 2010-11

In [84]:
len(df_inner_1)

8

2010-11

In [85]:
len(df2[df2['Class Year'] != 'SR'])

7

In [86]:
len(df_inner_2)

6

2011-12

In [87]:
len(df3[df3['Class Year'] != 'SR'])

13

In [72]:
len(df_inner_3)

6

2012-2013

In [90]:
len(df4[df4['Class Year'] != 'SR'])

7

In [91]:
len(df_inner_4)

6

2013-2014

In [92]:
len(df5[df5['Class Year'] != 'SR'])

12

In [93]:
len(df_inner_5)

8

2014-15

In [94]:
len(df6[df6['Class Year'] != 'SR'])

9

In [95]:
len(df_inner_6)

9

2015-16

In [97]:
len(df7[df7['Class Year'] != 'SR'])

14

In [98]:
len(df_inner_7)

11

16-17

In [99]:
len(df8[df8['Class Year'] != 'SR'])

12

In [100]:
len(df_inner_8)

7

17-18

In [101]:
len(df9[df9['Class Year'] != 'SR'])

12

In [102]:
len(df_inner_9)

11

18-19

In [103]:
len(df10[df10['Class Year'] != 'SR'])

8

In [104]:
len(df_inner_10)

7

In [105]:
#Outer

In [119]:
df_outer_1 = df1[df1['Class Year'] != 'SR']['Name'] - df_inner_1['Name']

In [116]:
df1[df1['Class Year'] != 'SR']

,Class Year,Height,Hometown,Name,Number,Position,Roster,School,Team,Weight (LBS)
129,JR,6'8,"PLYMOUTH, MN",CHRIS TAYLOR,1.0,F,2009-2010,WAYZATA,Men's Basketball,225
130,FR,6'8,"NORTHBROOK, IL",TYLER PONTICELLI,5.0,F,2009-2010,GLENBROOK NORTH,Men's Basketball,215
132,JR,6'1,"ATLANTA, GA",ADRIAN WILLIAMS,11.0,G,2009-2010,WHEELER,Men's Basketball,180
133,FR,6'6,"WILLMETTE, IL",MATT SULLIVAN,14.0,G,2009-2010,LOYOLA ACADEMY,Men's Basketball,205
134,SO,6'3,"GLENDALE, AZ",MARQUES COLEMAN,22.0,G,2009-2010,CACTUS,Men's Basketball,185
135,JR,6'5,"WILMETTE, IL",PETER SULLIVAN,25.0,F,2009-2010,LOYOLA ACADEMY,Men's Basketball,215
136,JR,6'4,"NAPERVILLE, IL",GARRETT LEFFELMAN,31.0,G,2009-2010,ST. JOSEPH'S,Men's Basketball,210
137,FR,6'8,"BROOKLINE, MA",TUCKER HALPERN,33.0,F,2009-2010,NOBLE & GREENOUGH,Men's Basketball,215
138,FR,6'8,"SUDBURY, MA",ANDREW MCCARTHY,35.0,F,2009-2010,NORTHFIELD MT. HERMON,Men's Basketball,205

In [117]:
df_inner_1

                Name
0       CHRIS TAYLOR
1   TYLER PONTICELLI
2    ADRIAN WILLIAMS
3      MATT SULLIVAN
4     PETER SULLIVAN
5  GARRETT LEFFELMAN
6     TUCKER HALPERN
7    ANDREW MCCARTHY

Isolating people who dropped out and saving them in a dataframe

In [141]:

df1_outer = df1[df1['Class Year'] != 'SR'][~df1[df1['Class Year'] != 'SR']['Name'].isin(df_inner_1['Name'])].dropna()

In [142]:
df2_outer = df2[df2['Class Year'] != 'SR'][~df2[df2['Class Year'] != 'SR']['Name'].isin(df_inner_2['Name'])].dropna()

In [143]:
df3_outer = df3[df3['Class Year'] != 'SR'][~df3[df3['Class Year'] != 'SR']['Name'].isin(df_inner_3['Name'])].dropna()

In [144]:
df4_outer = df4[df4['Class Year'] != 'SR'][~df4[df4['Class Year'] != 'SR']['Name'].isin(df_inner_4['Name'])].dropna()

In [145]:
df5_outer = df5[df5['Class Year'] != 'SR'][~df5[df5['Class Year'] != 'SR']['Name'].isin(df_inner_5['Name'])].dropna()

In [133]:
df6[df6['Class Year'] != 'SR']

,Class Year,Height,Hometown,Name,Number,Position,Roster,School,Team,Weight (LBS)
68,SO,6'6,"DALLAS, TX",STEVEN SPIETH,3.0,G,2014-15,JESUIT COLLEGE PREP,Men's Basketball,200
69,SO,6'0,"UPPER MARLBORO, MD",TAVON BLACKMON,10.0,G,2014-15,GONZAGA COLLEGE HS,Men's Basketball,170
71,SO,6'4,"SPRING LAKE, NJ",JR HOBBIE,12.0,G,2014-15,MANASQUAN,Men's Basketball,190
72,FR,6'4,"ST. LOUIS, MO",PATRICK TRIPLETT,13.0,G,2014-15,BAYLESS,Men's Basketball,210
73,JR,6'9,"WORCESTER, MA",CEDRIC KUAKUMENSAH,21.0,F,2014-15,ST. ANDREW'S SCHOOL,Men's Basketball,245
74,FR,6'1,"WEST CHESTER, OH",TYLER WILLIAMS,22.0,G,2014-15,LAKOTA WEST,Men's Basketball,175
75,FR,6'5,"COOPER CITY, FL",JASON MASSEY,25.0,G,2014-15,AMERICAN HERITAGE,Men's Basketball,200
76,FR,6'8,"NORTH RIVERSIDE, IL",MIKI LJUBOJA,31.0,F,2014-15,PHILLIPS EXETER ACADEMY,Men's Basketball,230
77,FR,6'7,"DUBUQUE, IA",KYLE HABER,33.0,F,2014-15,DUBUQUE SENIOR,Men's Basketball,180

In [140]:
df6

,Class Year,Height,Hometown,Name,Number,Position,Roster,School,Team,Weight (LBS)
67,SR,6'5,"SANARU-ZARIA, NIGERIA",LONGJI YILJEP,1.0,G,2014-15,WESTTOWN (PA),Men's Basketball,180
68,SO,6'6,"DALLAS, TX",STEVEN SPIETH,3.0,G,2014-15,JESUIT COLLEGE PREP,Men's Basketball,200
69,SO,6'0,"UPPER MARLBORO, MD",TAVON BLACKMON,10.0,G,2014-15,GONZAGA COLLEGE HS,Men's Basketball,170
70,SR,6'2,"NORWOOD, MA",JOE SHARKEY,11.0,G,2014-15,NORTHFIELD MT. HERMON,Men's Basketball,190
71,SO,6'4,"SPRING LAKE, NJ",JR HOBBIE,12.0,G,2014-15,MANASQUAN,Men's Basketball,190
72,FR,6'4,"ST. LOUIS, MO",PATRICK TRIPLETT,13.0,G,2014-15,BAYLESS,Men's Basketball,210
73,JR,6'9,"WORCESTER, MA",CEDRIC KUAKUMENSAH,21.0,F,2014-15,ST. ANDREW'S SCHOOL,Men's Basketball,245
74,FR,6'1,"WEST CHESTER, OH",TYLER WILLIAMS,22.0,G,2014-15,LAKOTA WEST,Men's Basketball,175
75,FR,6'5,"COOPER CITY, FL",JASON MASSEY,25.0,G,2014-15,AMERICAN HERITAGE,Men's Basketball,200
76,FR,6'8,"NORTH RIVERSIDE, IL",MIKI LJUBOJA,31.0,F,2014-15,PHILLIPS EXETER ACADEMY,Men's Basketball,230
77,FR,6'7,"DUBUQUE, IA",KYLE HABER,33.0,F,2014-15,DUBUQUE SENIOR,Men's Basketball,180
78,SR,6'7,"MAGNOLIA, DE",DOCKERY WALKER,42.0,F,2014-15,WESTTOWN (PA),Men's Basketball,220
79,SR,6'9,"SAO PAULO, BRAZIL",RAFAEL MAIA,45.0,F,2014-15,MAINE CENTRAL INSTITUTE,Men's Basketball,245
80,SR,6'7,"BALTIMORE, MD",JON SCHMIDT,50.0,F,2014-15,FRIENDS SCHOOL,Men's Basketball,215

In [1]:
#confusing; why is Joe Sharkey listed as a senior twice? Check

In [134]:
df_inner_6

                 Name
0       STEVEN SPIETH
1      TAVON BLACKMON
2         JOE SHARKEY
3           JR HOBBIE
4    PATRICK TRIPLETT
5  CEDRIC KUAKUMENSAH
6      TYLER WILLIAMS
7        MIKI LJUBOJA
8          KYLE HABER

In [139]:
df7

,Class Year,Height,Hometown,Name,Number,Position,Roster,School,Team,Weight (LBS)
51,FR,6'9,"ENCINITAS, CA",TRAVIS FULLER,1.0,F,2015-16,LA COSTA CANYON,Men's Basketball,215
52,SO,6'3,"COOPER CITY, FL",JUSTIN MASSEY,2.0,G,2015-16,AMERICAN HERITAGE,Men's Basketball,190
53,JR,6'6,"DALLAS, TX",STEVEN SPIETH,3.0,G,2015-16,JESUIT COLLEGE PREP,Men's Basketball,200
54,FR,6'5,"AJAX, ONTARIO",OBI OKOLIE,4.0,G,2015-16,ARCHBISHOP DENIS O'CONNOR,Men's Basketball,195
55,JR,6'0,"UPPER MARLBORO, MD",TAVON BLACKMON,5.0,G,2015-16,GONZAGA COLLEGE HS,Men's Basketball,180
56,FR,6'3,"WILMETTE, IL",CHRIS SULLIVAN,10.0,G,2015-16,NORTHFIELD MOUNT HERMON,Men's Basketball,170
57,SR,6'2,"NORWOOD, MA",JOE SHARKEY,11.0,G,2015-16,NORTHFIELD MT. HERMON,Men's Basketball,190
58,JR,6'4,"SPRING LAKE, NJ",JR HOBBIE,12.0,G,2015-16,MANASQUAN,Men's Basketball,190
59,SO,6'4,"ST. LOUIS, MO",PATRICK TRIPLETT,13.0,G,2015-16,BAYLESS,Men's Basketball,220
60,SO,6'1,"WEST CHESTER, OH",TYLER WILLIAMS,15.0,G,2015-16,LAKOTA WEST,Men's Basketball,190
61,JR,6'10,"SAN ANTONIO, TX",ARAM MARTIN,20.0,F,2015-16,THE MILLER SCHOOL OF ALBEMARLE,Men's Basketball,200
62,SR,6'9,"WORCESTER, MA",CEDRIC KUAKUMENSAH,21.0,F,2015-16,ST. ANDREW'S SCHOOL,Men's Basketball,245
63,FR,6'1,"BARRINGTON, RI",COREY DAUGHERTY,22.0,G,2015-16,BARRINGTON,Men's Basketball,165
64,JR,6'7,"BOUNTIFUL, UT",BLAKE WILKINSON,23.0,F,2015-16,VIEWMONT,Men's Basketball,235
65,SO,6'6,"DUBUQUE, IA",KYLE HABER,24.0,F,2015-16,DUBUQUE SENIOR,Men's Basketball,190
66,SO,6'8,"NORTH RIVERSIDE, IL",MIKI LJUBOJA,30.0,F,2015-16,PHILLIPS EXETER ACADEMY,Men's Basketball,225

In [146]:
df6_outer  = df6[df6['Class Year'] != 'SR'][~df6[df6['Class Year'] != 'SR']['Name'].isin(df_inner_6['Name'])].dropna()

In [147]:
df7_outer = df7[df7['Class Year'] != 'SR'][~df7[df7['Class Year'] != 'SR']['Name'].isin(df_inner_7['Name'])].dropna()

In [148]:
df8_outer = df8[df8['Class Year'] != 'SR'][~df8[df8['Class Year'] != 'SR']['Name'].isin(df_inner_8['Name'])].dropna()

In [149]:
df9_outer = df9[df9['Class Year'] != 'SR'][~df9[df9['Class Year'] != 'SR']['Name'].isin(df_inner_9['Name'])].dropna()

In [150]:
df10_outer = df10[df10['Class Year'] != 'SR'][~df10[df10['Class Year'] != 'SR']['Name'].isin(df_inner_10['Name'])].dropna()

In [154]:
df_left_team = df1_outer.append([df2_outer, df3_outer, df4_outer, df5_outer, df6_outer, df7_outer, df8_outer, df9_outer, df10_outer])

In [156]:
df_left_team.to_csv('men_left_team.csv', index=False)

In [157]:
df_left = pd.read_csv('men_left_team.csv')

In [162]:
df_left['Position'].value_counts(normalize=True)

G    0.521739
F    0.434783
C    0.043478
Name: Position, dtype: float64

Is there a single year that's a bottleneck for the team? Do most people quit after their junior year, for instance?

In [161]:
df_left['Class Year'].value_counts(normalize=True)

JR    0.391304
FR    0.347826
SO    0.260870
Name: Class Year, dtype: float64

In [163]:
df_left

,Class Year,Height,Hometown,Name,Number,Position,Roster,School,Team,Weight (LBS)
0,SO,6'3,"GLENDALE, AZ",MARQUES COLEMAN,22.0,G,2009-2010,CACTUS,Men's Basketball,185
1,FR,6'7,"DOVER, DE",DOCKERY WALKER,3.0,F,2010-11,WESTTOWN (PA),Men's Basketball,215
2,FR,6'2,"EL PASO, TX",CHRISTIAN GORE,1.0,G,2011-12,FRANKLIN,Men's Basketball,175
3,JR,6'3,"LONGMEADOW, MA",PATRICK DONNELLY,12.0,G,2011-12,PHILLIPS EXETER ADACEMY,Men's Basketball,185
4,FR,6'5,"SANARU-ZARIA, NIGERIA",LONGI YILJEP,21.0,G,2011-12,WESTTOWN (PA),Men's Basketball,185
5,JR,6'8,"SUDBURY, MA",ANDREW MCCARTHY,23.0,F,2011-12,NORTHFIELD MT. HERMON,Men's Basketball,210
6,JR,6'4,"HIGHLAND PARK, IL",TELLEF LUNDEVALL,25.0,F,2011-12,PHILLIPS ANDOVER ACADEMY,Men's Basketball,210
7,JR,6'8,"BROOKLINE, MA",TUCKER HALPERN,33.0,F,2012-13,NOBLE & GREENOUGH,Men's Basketball,220
8,FR,6'7,"INGLEWOOD, CA",LELAND KING,2.0,F,2013-14,BRENTWOOD SCHOOL,Men's Basketball,215
9,FR,6'4,"SPRING LAKE, NJ",NORMAN HOBBIE,12.0,G,2013-14,MANASQUAN,Men's Basketball,185
10,FR,6'4,"WINSTON SALEM, NC",MATTY MADIGAN,14.0,G,2013-14,MOUNT TABOR,Men's Basketball,190
11,JR,6'1,"LOS ANGELES, CA",ZEVE SANDERSON,32.0,G,2013-14,FRANKLIN,Men's Basketball,180
12,FR,6'5,"COOPER CITY, FL",JASON MASSEY,25.0,G,2014-15,AMERICAN HERITAGE,Men's Basketball,200
13,SO,6'3,"COOPER CITY, FL",JUSTIN MASSEY,2.0,G,2015-16,AMERICAN HERITAGE,Men's Basketball,190
14,SO,6'1,"WEST CHESTER, OH",TYLER WILLIAMS,15.0,G,2015-16,LAKOTA WEST,Men's Basketball,190
15,JR,6'10,"SAN ANTONIO, TX",ARAM MARTIN,20.0,F,2015-16,THE MILLER SCHOOL OF ALBEMARLE,Men's Basketball,200
16,SO,6'1,"BARRINGTON, RI",COREY DAUGHERTY,22.0,G,2016-17,BARRINGTON,Men's Basketball,165
17,JR,6'7,"BOUNTIFUL, UT",BLAKE WILKINSON,23.0,F,2016-17,VIEWMONT,Men's Basketball,235
18,JR,6'6,"DUBUQUE, IA",KYLE HABER,24.0,F,2016-17,DUBUQUE SENIOR,Men's Basketball,190
19,JR,6'8,"NORTH RIVERSIDE, IL",MIKI LJUBOJA,30.0,F,2016-17,PHILLIPS EXETER ACADEMY,Men's Basketball,225
20,FR,6'11,"HOUSTON, TX",BRANDON CHARNOV,34.0,C,2016-17,KINKAID,Men's Basketball,250
21,SO,6'9,"SYKESVILLE, MD",DAVID EREBOR,10.0,F,2017-18,OUR LADY OF CARMEL SCHOOL,Men's Basketball,230
22,SO,6'4,"NASHVILLE, TN",DESMOND CAMBRIDGE,24.0,G,2018-19,THE HUN SCHOOL (NJ),Men's Basketball,180

In [164]:
df_retention = pd.read_csv('rentention_rate.csv')

Calculating retention rate

In [168]:
df_retention['rate'] = df_retention['lost']/df_retention['eligible']*100

In [169]:
df_retention.to_csv('rentention_rate.csv', index=False)

In [170]:
df_retention

   period  lost  eligible       rate
0       1     1         9  11.111111
1       2     1         8  12.500000
2       3     5        13  38.461538
3       4     1         7  14.285714
4       5     4        12  33.333333
5       6     1        10  10.000000
6       7     3        14  21.428571
7       8     5        12  41.666667
8       9     1        12   8.333333
9      10     1         8  12.500000

In [171]:
df_left

,Class Year,Height,Hometown,Name,Number,Position,Roster,School,Team,Weight (LBS)
0,SO,6'3,"GLENDALE, AZ",MARQUES COLEMAN,22.0,G,2009-2010,CACTUS,Men's Basketball,185
1,FR,6'7,"DOVER, DE",DOCKERY WALKER,3.0,F,2010-11,WESTTOWN (PA),Men's Basketball,215
2,FR,6'2,"EL PASO, TX",CHRISTIAN GORE,1.0,G,2011-12,FRANKLIN,Men's Basketball,175
3,JR,6'3,"LONGMEADOW, MA",PATRICK DONNELLY,12.0,G,2011-12,PHILLIPS EXETER ADACEMY,Men's Basketball,185
4,FR,6'5,"SANARU-ZARIA, NIGERIA",LONGI YILJEP,21.0,G,2011-12,WESTTOWN (PA),Men's Basketball,185
5,JR,6'8,"SUDBURY, MA",ANDREW MCCARTHY,23.0,F,2011-12,NORTHFIELD MT. HERMON,Men's Basketball,210
6,JR,6'4,"HIGHLAND PARK, IL",TELLEF LUNDEVALL,25.0,F,2011-12,PHILLIPS ANDOVER ACADEMY,Men's Basketball,210
7,JR,6'8,"BROOKLINE, MA",TUCKER HALPERN,33.0,F,2012-13,NOBLE & GREENOUGH,Men's Basketball,220
8,FR,6'7,"INGLEWOOD, CA",LELAND KING,2.0,F,2013-14,BRENTWOOD SCHOOL,Men's Basketball,215
9,FR,6'4,"SPRING LAKE, NJ",NORMAN HOBBIE,12.0,G,2013-14,MANASQUAN,Men's Basketball,185
10,FR,6'4,"WINSTON SALEM, NC",MATTY MADIGAN,14.0,G,2013-14,MOUNT TABOR,Men's Basketball,190
11,JR,6'1,"LOS ANGELES, CA",ZEVE SANDERSON,32.0,G,2013-14,FRANKLIN,Men's Basketball,180
12,FR,6'5,"COOPER CITY, FL",JASON MASSEY,25.0,G,2014-15,AMERICAN HERITAGE,Men's Basketball,200
13,SO,6'3,"COOPER CITY, FL",JUSTIN MASSEY,2.0,G,2015-16,AMERICAN HERITAGE,Men's Basketball,190
14,SO,6'1,"WEST CHESTER, OH",TYLER WILLIAMS,15.0,G,2015-16,LAKOTA WEST,Men's Basketball,190
15,JR,6'10,"SAN ANTONIO, TX",ARAM MARTIN,20.0,F,2015-16,THE MILLER SCHOOL OF ALBEMARLE,Men's Basketball,200
16,SO,6'1,"BARRINGTON, RI",COREY DAUGHERTY,22.0,G,2016-17,BARRINGTON,Men's Basketball,165
17,JR,6'7,"BOUNTIFUL, UT",BLAKE WILKINSON,23.0,F,2016-17,VIEWMONT,Men's Basketball,235
18,JR,6'6,"DUBUQUE, IA",KYLE HABER,24.0,F,2016-17,DUBUQUE SENIOR,Men's Basketball,190
19,JR,6'8,"NORTH RIVERSIDE, IL",MIKI LJUBOJA,30.0,F,2016-17,PHILLIPS EXETER ACADEMY,Men's Basketball,225
20,FR,6'11,"HOUSTON, TX",BRANDON CHARNOV,34.0,C,2016-17,KINKAID,Men's Basketball,250
21,SO,6'9,"SYKESVILLE, MD",DAVID EREBOR,10.0,F,2017-18,OUR LADY OF CARMEL SCHOOL,Men's Basketball,230
22,SO,6'4,"NASHVILLE, TN",DESMOND CAMBRIDGE,24.0,G,2018-19,THE HUN SCHOOL (NJ),Men's Basketball,180

In [173]:
df_men[df_men['Name']=='MARQUES COLEMAN']

,Class Year,Height,Hometown,Name,Number,Position,Roster,School,Team,Weight (LBS)
134,SO,6'3,"GLENDALE, AZ",MARQUES COLEMAN,22.0,G,2009-2010,CACTUS,Men's Basketball,185

In [174]:
df_men[df_men['Name']=='DOCKERY WALKER']

,Class Year,Height,Hometown,Name,Number,Position,Roster,School,Team,Weight (LBS)
78,SR,6'7,"MAGNOLIA, DE",DOCKERY WALKER,42.0,F,2014-15,WESTTOWN (PA),Men's Basketball,220
91,JR,6'7,"MAGNOLIA, DE",DOCKERY WALKER,42.0,F,2013-14,WESTTOWN (PA),Men's Basketball,215
119,FR,6'7,"DOVER, DE",DOCKERY WALKER,3.0,F,2010-11,WESTTOWN (PA),Men's Basketball,215

In [179]:
def count_experience(name):
    # a function that counts the number of times a name in the dataframe of players who left appears in the master dataframe of all rosters
    name = name
    return len(df_men[df_men['Name']==name])

In [180]:
count_experience('DOCKERY WALKER')

3

In [182]:
df_left['experience'] = df_left['Name'].apply(lambda x: count_experience(x))

Instead of class year, is years on the team a better predictor of whether or not they leave or stay?

In [185]:
df_left['experience'].value_counts(normalize=True)

1    0.521739
2    0.260870
3    0.173913
4    0.043478
Name: experience, dtype: float64

In [186]:
#most people who quit have only one year of experience

In [187]:
#why is tucker halpern there 4 times? he's listed as a junior twice 
# is this a data entry issue? or did he unenroll at some point? take time off?

In [188]:
df_men[df_men['Name']=='TUCKER HALPERN']

,Class Year,Height,Hometown,Name,Number,Position,Roster,School,Team,Weight (LBS)
101,JR,6'8,"BROOKLINE, MA",TUCKER HALPERN,33.0,F,2012-13,NOBLE & GREENOUGH,Men's Basketball,220
115,JR,6'8,"BROOKLINE, MA",TUCKER HALPERN,33.0,F,2011-12,NOBLE & GREENOUGH,Men's Basketball,220
128,SO,6'8,"BROOKLINE, MA",TUCKER HALPERN,33.0,F,2010-11,NOBLE & GREENOUGH,Men's Basketball,220
137,FR,6'8,"BROOKLINE, MA",TUCKER HALPERN,33.0,F,2009-2010,NOBLE & GREENOUGH,Men's Basketball,215

Refining retnetion to account for things like study abroad